@import url('https://fonts.googleapis.com/css?family=Oxygen|Russo+One');

$background-color: #fffef1;

$base-font: 'Oxygen', arial, sans-serif;
$base-font-size: 16px;
$base-font-color: #333;

$title-font: 'Russo One', sans-serif;

$bracket-color: #444;